<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <title>Form Builder</title>

    <link rel="stylesheet" href="src/static/css/style.css">

  </head>

  <body>

    <div style="margin-top: 20px">
      <div class="header">
        <a href="http://localhost:5000/" class="logo">Form Builder</a>
        <div class="header-right">
          <a class="home" id="home" href="http://localhost:5000/">Home</a>
          <a clas="form_list" id="form_list" href="http://localhost:5000/List">List</a>
        </div>
      </div>
      <div id="formBuilder"></div>

      <div id="footer">

        <p>
          “Form builder”
        </p>

      </div>

    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src=https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.min.js></script>
    <script src=https://ajax.aspnetcdn.com/ajax/jquery.ui/1.11.1/jquery-ui.min.js></script>
    <script src="src/static/js/libraries/dust-js/dust-core-0.3.0.min.js"></script>
    <script src="src/static/js/libraries/dust-js/dust-full-0.3.0.min.js"></script>
    <script src="src/static/js/libraries/dust-js/dust-helpers.js"></script>
    <script src="src/static/js/libraries/tabs.jquery.js"></script>
    <script src="src/static/js/libraries/formBuilder.jquery.js"></script>


    <script>

      $('#formBuilder').formBuilder({
        
        load_url: 'src/json/example.json',
        save_url: '{{ base_url }}/save',
        
      });

    </script>

  </body>
</html>
