<!DOCTYPE html>
<html lang="en">
<head>
	<title>Render</title>
	<script src="../../src/static/js/libraries/jquery.min.js"></script>
	<script src="../../src/static/js/libraries/bootstrap.min.js"></script>
	<link rel="stylesheet" href="../../src/static/css/libraries/bootstrap.min.css"/>
	<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /> -->

    <!-- <script src="/nexa/static_nexa/js/vendor/popper.min.js"></script> -->
</head>
<body>
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			{{ render_form|safe }}
		</div>
	</div>
	<script src="{{url_for('static', filename='static/js/form.js')}}"></script>
</body>
</html>